---
layout: default
---

<header id="head" class="secondary"></header>
	<!-- container -->
	<div class="container">
		
		<div class="top-space">
			<p class="text-center lead">{{ page.title }} - <i>Visual Studio</i> keyboard shortcuts scheme</p>
			<p class="text-center">Lessons for <i>ReSharper 2.x/IntelliJ IDEA</i> keyboard shortcuts scheme will be avaiable soon
				<br/>Read more about <a href="https://www.jetbrains.com/resharper/help/Configuring_Keyboard_Shortcuts.html" target="_blank">Configuring Keyboard Shortcuts</a></p>
			<!--[if IE]>
                    <p>Some shortcuts are currently not working on Internet Explorer - please try different browser</p>
                <![endif]-->
			<div class="row top-space">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<div class="jumbotron text-center">
						<h2 id="reshortcut-command">Loading lesson...</h2>
						<div class="progress progress-bar-warning">
							<div id="progress" class="progress-bar progress-bar-success" style="width: 0%"></div>
						</div>
						<ins>Not sure what to do? <a href="{{ site.baseurl }}/how-does-it-work/">Check how it works!</a></ins>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div id="reshortcuts-key" class="alert-info text-center">
						<h2><strong id="reshortcuts-key-value"></strong></h2></div>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
		
		{{ content }}

		{% include beta_info.html %}
	</div>
	<!-- /container -->
