---
layout: default
---

<header id="head" class="secondary"></header>
	<!-- container -->
	<div class="container">
		
		<div class="top-space">
			<p class="text-center lead">{{ page.title }} - <i>Visual Studio</i> keyboard shortcuts scheme</p>
			<p class="text-center">Lessons for <i>ReSharper 2.x/IntelliJ IDEA</i> keyboard shortcuts scheme will be avaiable soon
				<br/>Read more about <a href="https://www.jetbrains.com/resharper/help/Configuring_Keyboard_Shortcuts.html" target="_blank">Configuring Keyboard Shortcuts</a></p>
			<!--[if IE]>
                    <p>Some shortcuts are currently not working on Internet Explorer - please try different browser</p>
                <![endif]-->
			<div class="row top-space">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<div class="jumbotron text-center">
						<h2 id="reshortcut-command">Loading lesson...</h2>
						<div class="progress progress-bar-warning">
							<div id="progress" class="progress-bar progress-bar-success" style="width: 0%"></div>
						</div>
						<ins>Not sure what to do? <a href="{{ site.baseurl }}/how-does-it-work/">Check how it works!</a></ins>
					</div>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<div id="reshortcuts-key" class="alert-info text-center">
						<h2><strong id="reshortcuts-key-value"></strong></h2></div>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
		
		{{ content }}

		{% include beta_info.html %}
	</div>
	<!-- /container -->
	
	<div>
		<div id="thankYou" class="modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">×</button>
						<h4 class="modal-title">CONGRATULATIONS!</h4>
					</div>
					<div class="modal-body">
						<p>You've just completed Lesson {{ page.lesson-no }}!</p>
						{% if page.next-lesson %}
						<p>Now try <a href="{{ site.baseurl }}/lessons/{{ page.next-lesson }}/"><b>Lesson {{ page.next-lesson }}</b></a></p>
						{% endif %}
						<p>&nbsp;</p>
						<p><a href="https://twitter.com/intent/tweet?text=%23ReShortcuts%20-%20Probably%20the%20best%20way%20to%20learn%20%23ReSharper%20shortcuts!%20http%3A%2F%2Freshortcuts.github.io"
							target="_blank"><b>click here</b></a> and let your friends know about ReShortcuts!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
               window.reShortcuts.lessonsManager().init({{ page.lesson-no }}); 
            });
	</script>